# Vim 
auto-save-list/
vim/.netrwhist
vim/backup/
vim/plugged/
vim/sessions/
vim/swap/
vim/undo/
vim/viminfo
vim/view/
vim/autoload/

tag-vim/vim/.netrwhist
tag-vim/vim/backup/
tag-vim/vim/plugged/
tag-vim/vim/sessions/
tag-vim/vim/swap/
tag-vim/vim/undo/
tag-vim/vim/viminfo
tag-vim/vim/view/
tag-vim/vim/autoload/

# Emacs
/emacs.d/.places
*~
\#*\#
.\#*

# Sublime
sublime/Packages/User/Gist.sublime-settings
sublime/Packages/User/Package\ Control.last-run
sublime/Packages/User/Package\ Control.cache/
sublime/Packages/User/Package\ Control.sublime-settings
sublime/Packages/User/project/
sublime/Packages/User/RubyTest.last-run

tag-sublime/sublime/Packages/User/Gist.sublime-settings
tag-sublime/sublime/Packages/User/Package\ Control.last-run
tag-sublime/sublime/Packages/User/Package\ Control.cache/
tag-sublime/sublime/Packages/User/Package\ Control.sublime-settings
tag-sublime/sublime/Packages/User/project/
tag-sublime/sublime/Packages/User/RubyTest.last-run

!bin/
