[submodule "emacs.d/elisp/external/rvm.el"]
	path = emacs.d/elisp/external/rvm.el
	url = git://github.com/senny/rvm.el.git
[submodule "emacs.d/elisp/external/rhtml"]
	path = emacs.d/elisp/external/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule "emacs.d/elisp/external/rspec-mode"]
	path = emacs.d/elisp/external/rspec-mode
	url = git://github.com/pezra/rspec-mode.git
[submodule "emacs.d/elisp/external/sass-mode"]
	path = emacs.d/elisp/external/sass-mode
	url = git://github.com/nex3/sass-mode.git
[submodule "emacs.d/elisp/external/haml-mode"]
	path = emacs.d/elisp/external/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
